* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
body { 
    font: 13px Helvetica, Arial; 
    margin: 10px 10px 0 10px;
}
table {
    width: 100%;
}
.messages-col{
    overflow-y: scroll;
    border-right: 2px solid #446644;
    height: 100%;
}
.users-col{
    overflow-y: scroll;
}

#join-form{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%);
    transform: translateY(50%);
}

#msg-form > input { 
    border: 0; 
    padding: 10px; 
    width: 45%; 
    height: 50px;
}

#msg-form { 
    background: #000; 
    padding: 3px; 
    position: fixed; 
    bottom: 0;
    width: 100%; 
}
#msg-form input { 
    border: 0; 
    padding: 10px; 
    width: 90%; 
    margin-right: .5%; 
}
#msg-form button { 
    width: 9%; 
    background: #464646; 
    border: none; 
    padding: 10px; 
}
#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0;
}
#messages li { 
    padding: 5px 10px; 
}

* {
    font-family: 'Avenir';
  }
  .bubbleWrapper {
      padding: 10px 10px;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-self: flex-end;
    color: #fff;
  }
  .inlineContainer {
    display: inline-flex;
  }
  .inlineContainer.own {
    flex-direction: row-reverse;
  }
  .inlineIcon {
    width:20px;
    object-fit: contain;
  }
  .ownBubble {
      min-width: 60px;
      max-width: 700px;
      padding: 14px 18px;
    margin: 6px 8px;
      background-color: #5b5377;
      border-radius: 16px 16px 0 16px;
      border: 1px solid #443f56;
   
  }
  .otherBubble {
      min-width: 60px;
      max-width: 700px;
      padding: 14px 18px;
    margin: 6px 8px;
      background-color: #6C8EA4;
      border-radius: 16px 16px 16px 0;
      border: 1px solid #54788e;
    
  }
  .own {
      align-self: flex-end;
  }
  .other {
      align-self: flex-start;
  }
  span.own,
  span.other{
    font-size: 14px;
    color: grey;
  }