<h1>Contact</h1>

<form action="" method="POST">
    <input type="text" name="firstname" placeholder="fn">
    <input type="text" name="lastname" placeholder="ln">
    <input type="submit" name="submit" value="SUBMIT">
</form>